@media (max-width: 500px) and (max-height: 500px) {
    header{
        width: 100%;
        font-size: 5px;
        height: 5rem;
        gap: 10px;
    }
    .logo{
        font-size: 12px;
    }
    header li a{
        font-size: 12px;
    }
    header li{
        gap: 10px;
    }
    .contentMain{
        font-size: 20px;

    }
    .contentAbout{
        font-size: 20px;
    }
    #about{
        flex-direction: column;
        height: 220vh;
        
    }
    
    .programacao{
        margin-top: 0rem;
        height: 5rem;
    }
    .partProjects{
        flex-direction: column;
        gap: 1rem;
    }
    .more .partProjects2{
        flex-direction: column;
        gap: 1rem;
    }
    .more .contentProjects button{
        margin-top: 38rem;
    }
    .project{
        width: 10rem;
        height: 10rem;
    }
   .contentProjects button{
    margin-top: 2rem;
   }
}